@import './scss/normalize.css';
@import './scss/var.scss';
@import './scss/container.scss';
@import './scss/main-page.scss';
@import './scss/promo.scss';
@import './scss/site-header.scss';
@import './scss/goods.scss';
@import './scss/goods-info.scss';
@import '../node_modules/swiper/swiper-bundle.css';
@import './scss/slider.scss';

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

img {
  max-width: 100%;
  height: auto;
}

