.goods-info-wrapper {
  text-align: left;
}

.rating-stars {
  display: flex;
}

.rating-stars-list {
  display: flex;
  padding: 0;
  list-style: none;
}

.stars-list-item {
  margin-right: 5px;
}

.product-property-controls-wrapper {
  display: flex;
  margin-bottom: 20px;
}

.rating-total {
  margin-top: 15px;
}

.product-select {
    border: none;
    padding: 15px 30px;
    border-radius: 12px;
    width: 156px;
    color: #2C2B31;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 16px;
}
.modified-select {
    margin-right: 0;
}

.color-select-title {
  margin: 0;
  color: #2c2b31;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
}

.goods-info-descr {
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

.goods-info-descr > span {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.buy-product-btn {
    width: 329px;
    color: #FFF;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 12px 20px;
    border-radius: 15px;
    background: #37D997;
    border: none;
}
