.promo {
  position: relative;
}

.promo-photo-block {
    margin-bottom: 15px;
}

.promo-timer-block {
  position: absolute;
  text-align: center;
  top: 207px;
  left: 25px;
  padding: 7px 9px 7px 9px;
  width: 103px;
  border-radius: 7px;
  background: #f19d2f;
}

.promo-info-wrapper {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.timer-title {
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.promo-timer {
  color: #fff;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.promo-price-block {
  width: 116px;
  padding: 7px 5px 7px 5px;
  border-radius: 5.677px;
  background: #37d997;
  text-align: center;
  position: absolute;
  right: 25px;
  top: 207px;
}

.promo-price {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.old-price {
  text-decoration: line-through;
  text-decoration-color: red;
  font-size: 18px;
}

.rating-block {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
}

.rating {
  color: #2c2b31;
  font-size: 13px;
}

.rating-link {
  color: #37d997;
  font-size: 13px;
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
}
